<center>
    <img src="{{href}}" height=50 width = 100/>
    <form method = "POST">
        <br>
        <label for="startDate">From:</label>
        <input type="date" id="startDate" name="startDate" min='2015-08-01' max='2015-09-17' required>
        <label for="endDate">To:</label>
        <input type="date" id="endDate" name="endDate" min='2015-08-01' max='2015-09-17'>
        <br> <br>
        <label for="storeList">Stores:</label>
        <input name="storeList" required>
        <br> <br>
        <input type='submit'>
    </form>
</center>